:root {

    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#C84630 90%, #231C07);
}

a {
    color: black;
    text-decoration: none;
}

#footer {
    background-color: #231C07;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.description {
    align-self: flex-start;
}

.popup {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: sticky;
    top: 62.5vh;
    left: 5vw;
    width: 90vw;
    height: 30vh;
    color: white;
    margin-bottom: -32.5vh;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {

    #header {
        display: flex;
        background-color: #231C07;
        height: 15vh;
        color: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.25rem;
        padding: 0 1vw 1vw 0;
    }

    #content {
        padding: 2.5vh 0;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5vh;
    }

    #intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
    }

    #socialSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
    }

    .contentSection {
        background-color: rgb(255, 255, 255, .8);
        width: 90vw;
        padding: 2vh 3vw;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        border-radius: 2px;
    }

    .title {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;
        font-family: cursive;
    }

    .package {
        font-size: 1.5rem;
        justify-self: center;
        align-self: center;
        margin: -1vh 0 0 0;
        padding: 0 0 1vh 0;
    }

    .services {
        font-size: 1.25rem;
        display: flex;
        gap: 1vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .price {
        border-bottom: 2px solid black;
    }

    img {
        width: 85vw; 
        height: 60vh; 
    }

    #frontAudi {
        object-fit: cover; 
        object-position: 0 50%;
    }

    #backAudi {
        object-fit: cover; 
        object-position: 0 40%;
    }

    #soapyWheel {
        object-fit: cover; 
        object-position: 0 50%;
    }

    #soapyCar {
        object-fit: cover; 
        object-position: 0 50%;
    }

    .slides {
        display: flex;
        justify-content: center;
    }

    ul {
        margin: 0;
        padding:2.5vw;
        position: relative;
    }

    #languageList {
        font-size: 1rem;
        align-self: flex-end;
        text-decoration: underline;
    }

    li {
        list-style-type: none;
    }

    #socials {
        display: flex;
        gap: 8px;
    }

    .contactIcon {
        height: 2.5rem;
        width: auto;
    }

    #promotion {
        font-weight: 700;
        font-size: 2rem;
        background-color:rgb(35, 28, 7, .9);
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    .popupText {
        padding: 0vh 3vw;
    }

    #popupButton {
        padding: 1vh;
        width: 60%;
        height: 3rem;
        font-size: 1.5rem;
        color: black;
    }
}

@media screen and (min-width: 600px) { 

    :root {
        font-size: 18px;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header {
        height: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 25vw 25vw 25vw 1fr;
        justify-content: center;
        align-items: center;
        background-color: #231C07;
        color: white;
    }

    #logo {
        height: 8vh;
        width: auto;
        grid-column: 3 / 4;
        justify-self: center;
    }

    #languageList {
        grid-column: 4 / 5;
        justify-self: flex-end;
    }

    #content {
        display: grid;
        gap: 16px;
        margin: 16px 0;
        grid-template-columns: 1fr 25vw 25vw 25vw 1fr;
        grid-template-rows: 7.75rem 6rem 1fr;
    }

    #intro {
        grid-row: 1 / 2;
        grid-column: 2 / 5;
    }

    #socialSection {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
    }

    #goldDetail {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        display: flex;
        align-self: flex-start;
        height: 95%;
    }

    #goldWash {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
        display: flex;
        align-self: flex-start;
        height: 95%;
    }

    #expressDetail {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
        display: flex;
        align-self: flex-start;
        height: 95%;
    }

    #promotion {
        grid-row: 2 / 3;
        grid-column: 2 / 5;
        width: 35vw;
        height: 15vh;
        justify-self: center;
        align-items: center;
        justify-content: center;
        background-color: rgb(35, 28, 7, .9);
        font-size: 1.25rem;
        padding: 16px;
        gap: 8px;;
    }

    #popupButton {
        width: 8rem;
        font-size: 1.05rem;
        height: 1.5rem;
    }

    .contentSection {
        background-color: rgb(255, 255, 255, .8);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;
        gap: .5rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .contactIcon {
        height: 2.5rem;
        width: auto;
    }

    #socialSection {
        gap: 8px;
    }

    img {
        width: auto; 
        height: 70vh; 
    }

    #backAudi {
        object-fit: cover; 
        object-position: 0 50%;
        width: 20vw;
        height: auto;
        width: 20vw;
        height: 50vh;
    }

    #frontAudi {
        object-fit: cover; 
        object-position: 0 50%;
        width: 20vw;
        height: auto;
        width: 20vw;
        height: 50vh;
    }

    #soapyWheel {
        object-fit: cover; 
        object-position: 0% 50%;
        width: 20vw;
        height: 50vh;
    }

    li {
        list-style-type: none;
    }
}