:root {

    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

#header {
    background-color: blue;
}

#content {
    background-color: rgb(202, 137, 137);
}

#footer {
    background-color: antiquewhite;
}

@media screen and (max-width: 600px) {

    #header {
        background: linear-gradient(rgb(172, 70, 70) 95%, rgb(71, 70, 70)) 95%;
        height: 15vh;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.25rem;
    }

    #content {
        padding: 2.5vh 0;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5vh;
    }

    #intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
    }

    .contentSection {
        background-color: rgb(240, 255, 255, .9);
        width: 90vw;
        padding: 2vh 2.5vw;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        border-radius: 8px;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services {
        font-size: 1.25rem;
        display: flex;
        gap: 1vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .price {
        border-bottom: 2px solid black;
    }

    img {
        width: 85vw; 
        height: 45vh; 
    }

    #frontAudi {
        object-fit: cover; 
        object-position: 0 50%;
    }

    #backAudi {
        object-fit: cover; 
        object-position: 0 35%;
    }

    #soapyWheel {
        object-fit: cover; 
        object-position: 0 50%;
    }

    #soapyCar {
        object-fit: cover; 
        object-position: 0 50%;
    }

    .slides {
        display: flex;
        justify-content: center;
    }
}