:root {

    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

#header {
    background-color: blue;
}

#content {
    /* background-color: #C84630; */
    background: linear-gradient(#C84630 90%, #231C07);
}

#footer {
    background-color: #231C07;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.langToggle {
    display: none;
}

.description {
    align-self: flex-start;
}

.popup {
    display: none;
    z-index: 1;
    position: sticky;
    top: 62.5vh;
    left: 5vw;
    width: 90vw;
    height: 30vh;
    color: white;
    margin-bottom: -32.5vh;
}

.visible {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {

    #header {
        background-color: #231C07;
        height: 15vh;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.25rem;
        padding: 0 1vw 1vw 0;
    }

    #content {
        padding: 2.5vh 0;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5vh;
    }

    #intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
    }

    #socialSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1vh;
    }

    .contentSection {
        background-color: rgb(255, 255, 255, .8);
        width: 90vw;
        padding: 2vh 3vw;
        display: flex;
        flex-direction: column;
        gap: 1vh;
        border-radius: 2px;
    }

    .title {
        display: flex;
        font-size: 2.5rem;
        justify-content: center;
        align-items: center;
        font-family: cursive;
    }

    .package {
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        margin: -1vh 0 0 0;
        padding: 0 0 1vh 0;
    }

    .services {
        font-size: 1.25rem;
        display: flex;
        gap: 1vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .price {
        border-bottom: 2px solid black;
    }

    img {
        width: 85vw; 
        height: 60vh; 
    }

    #frontAudi {
        object-fit: cover; 
        object-position: 0 50%;
    }

    #backAudi {
        object-fit: cover; 
        object-position: 0 40%;
    }

    #soapyWheel {
        object-fit: cover; 
        object-position: 0 50%;
    }

    #soapyCar {
        object-fit: cover; 
        object-position: 0 50%;
    }

    .slides {
        display: flex;
        justify-content: center;
    }

    ul {
        margin: 0;
        padding:2.5vw;
        position: relative;
    }

    #languageList {
        font-size: 1rem;
        align-self: flex-end;
        text-decoration: underline;
    }

    li {
        list-style-type: none;
    }

    #socials {
        display: flex;
        gap: 8px;
    }

    .contactIcon {
        height: 2.5rem;
        width: auto;
    }

    #promotion {
        font-weight: 900;
        font-size: 2rem;
        background-color:rgb(35, 28, 7, .9);
        justify-content: center;
        align-items: center;
        gap: 1vh;
    }

    .popupText {
        padding: 0vh 3vw;
    }

    #popupButton {
        padding: 1vh;
        width: 60%;
        height: 3rem;
        font-size: 1.5rem;
        color: black;
    }
}